*{
    box-sizing: border-box;
}
h1, h2{
    text-align: center;
}
img{
    display: block;
    height: 300px;
    margin: 0 auto;
}

ul{
    width: 100px;
    height: 200px;
    border: 3px solid black;
    margin: 0 auto;
    list-style: none;
    padding: 0;
}
li{
    width: 94px;
    height: 65px;
}

#burgundy{
    background: rgba(128,0,32,1);
}
#purple{
    background: rgba(128,0,128,1);
}
#crimson{
    background: rgba(220,20,60,1);
}